.profilePic {
  width: 60%;
  display: flex;
  align-items: center;
  padding: 20px;
}
.profileContainer {
  display: flex;
  margin: 20px;
}
@media only screen and (max-width: 768px) {
  .profileContainer {
    flex-direction: column-reverse;
  }
}

.profile-img {
  width: clamp(260px, 100%, 320px);
  aspect-ratio: 1;
  border-radius: 100%;
}

.error-message {
  color: red;
  font-weight: bold;
}
.about-us_box-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin: 20px;
}
