.messenger {
  width: 100%;
}
.messenger-container {
  background-image: url("messengerbackground.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.65;
  color: darkorange;
  min-height: calc(100vh - 59px);
}
.messenger-container > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-weight: bold;
}

.messenger-border {
  display: flex;
  justify-content: center;
  align-items: center;
}
