.nearby {
  width: 100%;
  padding: 30px;
}

.nearby>h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-weight: bold;
  margin-top: 4px;
}

.map-area {
  display: flex;
  justify-content: center;
  align-items: center;
  /* object-fit: fill; */
}

.map-area>img {
  width: 70rem;
  height: 35rem;
}


.map-container {
  position: relative;
}

.map-owner-point {
  position: absolute;
  top: 275px;
  left: 275px;
}